.Navigation-Bar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}
.Navigation-Tabs {
  display: none !important;
}

.Account-Menu-Button {
  display: none !important;
}

@media screen and (min-width: 728px) {
  .Mobile-Nav-Button {
      display: none !important;
  }
  .Navigation-Tabs {
      display: initial !important;
  }
  
  .Account-Menu-Button {
      display: initial !important;
  }

  .Check-List {
      display: grid;
      grid-template-areas: "left-margin left right right-margin";
      grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}
